#back{

    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 620px;
}
#road{
    background: url(road.jpg);
    
}
#img{
    width: 160px;
}
 #btn{
     background-color: green ;
     font-size: 20px;
     border-radius: 4px;
     padding: 8px;
     margin-top: 30px;
     
}
 #dbtn{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #dbtn :hover{
     cursor: pointer;
     color: white;
 }